/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Roboto Regular", serif;
    src: url("../../public/publicFonts/Roboto-Regular.ttf");
}

* {
    font-family: "Roboto Regular", serif;
    font-weight: 400;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.searchButtonIcon {
    width: 51px;
    height: 41px;
    margin: 14px;


}

.form-control {
    width: 1376px;
    height: 68px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DDDDDD;
    padding-bottom: 47px;
    padding-top: 32px;
    width: 100%;

}

.searchButton:hover {
    background: antiquewhite;
}

.searchButton:active {
    background: blue;
}

.container {
    margin: 0 25px;
}

::placeholder {
    font-family: "Roboto Regular", serif;
    padding-left: 3%;
    font-size: 14px;
    line-height: 16px;
}

.main {
    margin-top: 34px;
    margin-left: 39px;
    margin-right: 39px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 28px;

}

.searchText {
    text-align: center;
    font-size: 24px;
    padding-top: 100px;
}


@media(max-width: 766px) {
    // pfйди в браузер
}


html, body { max-width: 100%; overflow-x: hidden; }