@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {

    box-sizing: border-box;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Roboto Regular", serif;
    src: url("../../public/publicFonts/Roboto-Regular.ttf");
}

* {
    font-family: "Roboto Regular", serif;
    font-weight: 400;
}


.searchButtonIcon {
    width: 51px;
    height: 41px;
    margin: 14px;


}

.form-control {

    width: 1376px;
    height: 68px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DDDDDD;
    padding-bottom: 47px;
    padding-top: 32px;
    width: 100%;

}

.searchButton:hover {
    background: antiquewhite;
}

.searchButton:active {
    background: blue;
}

.container {
    margin: 0 25px;
}

::placeholder {
    font-family: "Roboto Regular", serif;
    padding-left: 3%;
    font-size: 14px;
    line-height: 16px;
}

.main {
    margin-top: 34px;
    margin-left: 39px;
    margin-right: 39px;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 28px;

}

.searchText {
    text-align: center;
    font-size: 24px;
    padding-top: 100px;
}


@media(max-width: 766px)  {
.form-control {
    width: 80%;
    .Card {
        width: 80%;
    }

}
}

.form-group {
    max-width: 1376px;
}

@media(max-width: 1400px) {
    .form-control {
        width: 80%;
        .Card {
            width: 80%;
        }

    }
}





